@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;

	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    font-family: sans-serif;
  
  background-color: darkslateblue;
}

*, *:before, *:after {
	box-sizing: inherit;
}

a {
    text-decoration: none;
}

h1 {
    color: white;
    position: relative;
    text-align: center;
}

.top {
    padding: 2.5em;
    position: relative;
    height: 15em;
}

.flag {
    position: absolute;
}

.icon-flag {
    font-size: 10em;
    color: white;
}

.transportation {
    text-align: center;
}

.circle {
    width: 250px;
	height: 200px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
}
.icon-bicycle {
    font-size: 5em;
    color: white;
}

.icon-car {
    font-size: 5em;
    color: white;
}

.icon-scooter{
    font-size: 5em;
    color: white;
}

.icon-taxi {
    font-size: 5em;
    color: white;
}

.icon-bus {
    font-size: 5em;
    color: white;
}

.icon-plane {
    font-size: 5em;
    color: white;
}

.icon-walking {
    font-size: 5em;
    color: white;
}
